*{
    margin:0;
    padding: 0;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header{
    display: flex;
    flex: 1 1 auto;
    

    background-color: #1f2937;
    color: white;
    flex-direction: column;
    padding: 0px 50px;
}
.header > .logo-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}
.links{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: auto;
    gap: 10px;
    font-size: 18px;
    color: #e5e7eb;
}
.logo-header > img{
    max-width: 100px;
    max-height: 100px;
}

/* Fim do header */
.part1{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    flex-direction: row;
    padding: 50px 50px;
}

.direito > img{
    display: flex;
    height: 250px;
    width: 250px;
    margin-left: 15px;
    
}
button {
    display: flex;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    margin-top: 15px;
    
    
}
.esquerdo{
    margin-right: 150px;
    
    display: flex;
    flex-direction: column;
    align-self: center;

}

.esquerdo > button {
    display: flex;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    margin-top: 15px;
}
.esquerdo > h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    
}

/* Fim da parte 1 */


.part2{
    display: flex;
    
    background-color: #1f2937;
    color: white;
    flex-direction: column;
}
.part2fotos{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.fotos > p{
    display: flex;
    justify-content:center;
    font-size: 36px;
    
}
.fotos{
    display: flex;
    flex-direction: column;
}
.fotos > img{
    max-width: 350px;
    max-height: 350px;
    border-radius: 20px;
}


.part2 > h1{
    align-self: center;
    font-size: 50px;
}

/* Fim da parte 2 */


.part3{
    display: flex;
    background-color: #e5e7eb;
    padding: 50px;
   
}
.quote{
    display: flex;
    width: 100%;
    background-color: #E5E7EB; 
    flex-direction: column;
    
}
.quote> p{
     font-size: 36px;
     font-family: light italic;
     color: #1f2937;
     
}
.quote > .autor{
    font-size: 40px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     align-self: flex-end;
     color: #1f2937;
}

/* Fim da parte 3 */
.part4{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.box-text{
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    padding: 35px;
   }
   
.box-text > .button{
    display: flex;
    
    padding: 8px 16px ;
    border-radius: 1px;
   color: #3882F6;
}   
iframe{
    width: 250px;
    height: 250px;
}

/* Fim da parte 4 */
   
.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
}



.footer-text {
    display: flex;
    color: white;
    text-align: center;
    padding: 15px 0px;
}
